.blog-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 1rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .blog-list-container {
    padding: 1rem 4rem;
    margin-top: 4rem;
  }
}
